@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --color-dark: rgb(26, 26, 28);
  --color-dark-20: rgba(26, 26, 28, 0.2);
  --color-light: #f3f4f5;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
  color: var(--color-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ski-race-main-container {
  border: 1px solid var(--color-dark);
  border-radius: 5px;
  max-width: 600px;
  height: 680px;
  margin: 50px auto 0;
  background-color: var(--color-light);
  background: linear-gradient(rgb(246, 246, 246), rgb(216, 224, 227));
  display: flex;
  flex-direction: column;
}

.container-header {
  border-bottom: 1px solid var(--color-dark-20);
  margin: 10px;
  text-align: center;
}

.main-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5rem;
  margin: 10px 0 0;
}

.race-date {
  margin: 5px 0 15px;
}

/* Distance buttons */

.distance-button-container {
  margin: 5px 0 15px;
  text-align: center;
}

.distance-button {
  padding: 10px 10px;
  width: auto;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
  background: var(--color-light);
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-out;
  box-shadow: -4px -4px 10px rgba(254, 254, 254, 0.7),
    -4px -4px 6px rgba(254, 254, 254, 0.5),
    2px 2px 4px rgba(254, 254, 254, 0.075), 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.button-active {
  background-color: rgb(255, 255, 255);
  box-shadow: inset -2px -2px 6px rgba(249, 255, 255, 0.7),
    inset -2px -2px 4px rgba(240, 249, 249, 0.5),
    inset 2px 2px 2px rgba(245, 252, 254, 0.075),
    inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}

/* Filter slider */

.filter-slider-container {
  text-align: center;
}

.filter-slider-container p {
  margin: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  box-shadow: -4px -4px 10px rgba(254, 254, 254, 0.7),
    -4px -4px 6px rgba(254, 254, 254, 0.5),
    2px 2px 4px rgba(254, 254, 254, 0.075), 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border-radius: 5px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(70deg, #003087, #d4d4d4);
  transition: 0.5s;
}

.slider:before {
  border-radius: 3px;
  position: absolute;
  content: '';
  height: 22px;
  width: 30px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-light);
  transition: 0.5s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

input:checked + .slider {
  background: linear-gradient(10deg, #c8102e, #e8e8e8, #003087);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(42px);
}

.list-explainer-text {
  margin: 5px 15px 0;
  font-weight: 600;
}

/* Participant item */

.participant-list-container {
  border-radius: 5px;
  margin: 10px;
  overflow: scroll;
}

.participant-item {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 5px 5px;
  padding: 0 10px;
  height: 50px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  transition: height ease-out 0.2s, box-shadow ease-out 0.2s;
}

.participant-item:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.participant-info-container {
  display: flex;
}

.item-open {
  height: 140px;
}

.participant-extra-info {
  margin: 0;
  animation: fade 0.2s ease-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.participant-rank-container {
  border: 1px solid var(--color-dark-20);
  border-radius: 5px;
  height: 30px;
  width: 40px;
  margin: 8px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rank-1 {
  font-weight: 600;
  background: linear-gradient(30deg, #b4924f60, #fffac5bf);
}

.rank-2 {
  font-weight: 600;
  background-image: linear-gradient(30deg, #f4f4f4, #d8e1ea);
}

.rank-3 {
  font-weight: 600;
  background-image: linear-gradient(20deg, #b9804777, #f2eeeb5d);
}

.participant-country-image {
  margin-top: 9px;
  height: 30px;
  width: 50px;
}

.participant-name {
  margin-left: 10px;
}

.participant-time {
  margin-left: auto;
}

.finish-time {
  font-weight: 600;
}

@media screen and (max-width: 400px) {
  .participant-list-container {
    margin: 5px;
  }
  .list-explainer-text {
    margin: 5px 10px 0;
  }
  .participant-item,
  .participant-time,
  .participant-rank-container * {
    font-size: 14px;
  }
  .participant-item {
    height: 40px;
  }
  .item-open {
    height: 120px;
  }
  .participant-rank-container {
    height: 20px;
    width: 30px;
    margin-right: 5px;
  }
  .participant-name {
    margin-left: 5px;
    line-break: strict;
  }
  .participant-name,
  .participant-time {
    margin-top: 10px;
  }
  .participant-country-image {
    height: 20px;
    width: 34px;
  }
}
